
<head><link rel="stylesheet" type="text/css" href="css\manager.css"></head>
<h1>Hi <%=name%></h1>
<body>
    <script>
        document.addEventListener('visibilitychange', function() {
            if (document.visibilityState === 'visible') {
                // Tab became active, reload to check JWT token
               location.reload();
            }
        });
    </script>
</body>
<h1>Register New Users with defining their Rank and See All the users</h1>
<form action="/register/newusers" method="POST">
    <div>
        <Label for="name">Name</Label>
        <input type ="text" id="name" name="name" required>
        <br>
    </div>
    <div>
        <Label for="email">Email</Label>
        <input type ="email" id="email" name="email" required>
    </div>
    <div>
        <Label for="password">Password</Label>
        <input type ="password"  id="password" name="password" required>
    </div>
    <div>
        <Label id="RankLabel" >Rank</Label>
        <input type ="radio"  id="basic" name="rank" value="basic" required>
        <label for="basic">Basic</label>
        <input type ="radio"  id="admin" name="rank" value="admin" required>
        <label for="admin">Admin</label>
    </div>
   <button type="submit">Register User</button>
</form>
<div>
    <form action="/logout?_method=DELETE" method="POST">
        <button type ="submit" id="LOGOUT">Log out</button>
    </form>
</div>
<div><% if (messages.error){%>
    <%= messages.error%>
    <%}%></div>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Rank</th>
          </tr>
        <% for(let i=0; i<table.length; i++){ %>
         <tr>
           <td><%=table[i].id %></td>
           <td><%=table[i].name%></td>
           <td><%=table[i].email%></td>
           <td><%=table[i].rank%></td>
         </tr>
        
        <% } %> 
       </table>    
</div>
